<p>
</p>
<span class="view_username">
  <% if @is_current_user %>
    Welcome back, <%= @user.username %>!
  <% else %>
    Home page of <%= @user.username %>
  <% end %>
</span>
<div class="user_following">
  <%= link_to('Following', show_followers_url(@user.id), :method => :get) %> <%= @user.num_followers %> users
</div>
<div class="user_following">
  <%= link_to('Followed by', show_followeds_url(@user.id), :method => :get) %> <%= @user.num_followeds %> users
</div>
<div class="tweets_list_header">
  <%= link_to('Tweets', show_tweets_url(@user.id), :method => :get) %> <%= @user.num_tweets %> tweets
</div>

