<br><br>
<div class="follow_view_username">
  <%= @user.username %>'s followers:</div>
<br><br><br><br><br>

<% @followers.each do |follower| %>
    <table class="user_show_table">
      <tr>
        <td class="user_follow_show_td"> <%= link_to(follower.username, show_user_url(follower.id), :method => :get) %> </td>
        <td class="user_follow_show_td"> Following <%= link_to(follower.num_followers, show_followers_url(follower.id), :method => :get) %></td>
        <td class="user_follow_show_td"> Followed by <%= link_to(follower.num_followers, show_followeds_url(follower.id), :method => :get) %></td>
        <td class="user_follow_show_td"> Tweets <%= link_to(follower.num_tweets,show_tweets_url(follower.id), :method => :get) %>  </td>
      </tr>
    </table>
<br>
<% end %>
