<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheets" href="styles.css">
  <title>TwitterDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless @hide_header %>
    <% if user_signed_in? %>
      <span class="logout_link"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
    <% end %>

    <span class="create_tweet"> <%= link_to('Create a tweet', tweets_new_path, :method => :get) %> </span>
<% end %>
    <%= yield %>

</body>
</html>
